.skg-add-knowledge {
	width: 48%;
	float: left;
}

.skg-edit-knowledge {
	width: 48%;
	float: right;
}

.skg-existing-knowledge {
	width: 100%;
	float: left;
}

.skg-edit-knowledge.disabled {
	background-color: #CCC;
}

input[type="submit"] {
	float: left;
}